/* Name of File - theme.css */
/* Author(s) - Cassidy Ashe */
/* Purpose - Theme and styling for all HTML pages */
/* Dependencies - CSS */
/* Date of last Edit - June 6, 2020 */

/* styles all elements and main body of page */
body {
  background-color: #e9e7f1;
  font-family: "Abhaya Libre", serif;
  font-size: 16px;
}

/* left-hand navigation bar */
.sideBar {
  background-color: #1a1925;
  overflow-x: hidden;
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

h1 {
  color: #ffb600;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: bolder;
}

.sideBar h1 {
  padding-left: 40px;
}

h3 {
  color: #1e5d62;
}

.sideBar ul {
  list-style-type: none;
  color: #669791;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 20px;
}

.sideBar li {
  padding-bottom: 15%;
  font-weight: bolder;
}

.sideBar img {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
  padding-left: 40px;
}

/* Styles to logo */
#svg8 {
  width: 37%;
  height: 22%;
  padding-left: 7%;
}

a {
  text-decoration: none;
  color: #749793;
}

p,
.search,
.gridContainer,
.diceForClick,
h2,
h3,
dl,
.diceTray,
.modifiers,
.dice {
  color: #1e5d62;
}

dl,
.diceTray {
  padding-top: 2%;
}

/* Styling for displayed text in search.html */
.searchText {
  color: #2f2e3c;
  float: left;
  border-right: 30px solid #1e5d62;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;

  float: left;
  width: 400px;
  height: 104px;
  background-color: #1e5d62;
}

/* grid on index.html */
.gridContainer {
  display: grid;
  width: auto;
  height: 100%;
  padding-right: 35px;
  padding-left: 35px;
}

/* in grid on index.html */
.textChunk p {
  font-size: large;
  text-align: justify;
  padding: 0%;
}

/* in grid on index.html */
.textChunk1 {
  text-align: justify;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 6%;
  padding-right: 4%;
}

/* in grid on index.html */
.imgArea1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 4%;
  padding-left: 4%;
}

img {
	vertical-align: middle;
	border-style: none;
	width: 65%;
	margin: auto;
	padding-bottom: 0%;
}

/* stles icons on contact.html */
.icons img{
  width: 45%;
  height: 45%;
  padding-top: 0%;
}

/* in grid on index.html */
.textChunk2 {
  text-align: justify;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 18%;
  padding-left: 4%;
}

/* in grid on index.html */
.imgArea2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 0%;
  padding-right: 4%
}

/* styles active links */
.active-link {
  color: #fff;
}

.title h1 {
  text-align: center;
}

.help img {
  padding-top: 0%;
}

.navbar {
  width: 100%;
}

/* back to top button, curtesy of https://bbbootstrap.com/snippets/simple-back-top-smooth-scroll-17111555 */

#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color:  #1e5d62;
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: #1e5d62;
  background-color:  #1e5d62;
}
/* end of to-top button */


.content {
  padding-top: 2%;
  padding-left: 30px;
  padding-right: 30px;
}

/* styles radio buttons */
input[type="radio"]{
  margin: 10px 10px 10px 10px;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  margin: 5px 0px 5px 250px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  margin: 40px 0px 5px 250px;
}

/* Reddit */
.fa-reddit {
  background: #ff5700;
  color: white;
  margin: 40px 0px 5px 495px;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
  margin: 5px 0px 5px 495px;
}

/* contact.html */
.equal h2 {
  height: 100px;
}

/* contact.html */
.equal a {
  width: 80px;
  height: 80px;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;

}

.contact h3{
  padding-top: 40px;
  padding-bottom: 80px;
}

/* styles buttons */
.btn {
  background-color: #1e5d62;
  color: white;
  margin: 15px 0px;
  text-align: center;
}

a:hover{
  color: #ffb600;
}

.CharSheet {
  margin-top: 2%;
  margin-bottom: 2%;
}

.attribute {
  background-color: #1e5d62;
  color: #ffb600;
  text-align: center;
  text-transform: uppercase;
}

.create .btn,
.create .classLabel {
  margin-left: 20px;
}

#labelCreatePage {
  background-color: #1e5d62;
  width: 100%;
}

.CharSheet h1 {
  color: #2f2e3c;
}