body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.projectPage {
  background-color: #ededed;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 400;
}

/* .link {
  color: white;
  background-color: black;
} */

#projectDescriptions {
  text-align: left;
  padding-top: calc(var(--bs-gutter-x) / 2);
  padding-bottom: calc(var(--bs-gutter-x) / 2);
}

/* TEMP STYLING, FIX LATER */
img {
  max-width: 100%;
  height: auto;
  padding-top: calc(var(--bs-gutter-x) / 2);
  padding-bottom: calc(var(--bs-gutter-x) / 2);
}

#d20Search,
#secretSpy,
#se181Bank {
  background-color: white;
  margin-top: 20px;
}

.bottom {
  margin-bottom: 20px;
}

h2 a {
  color: black;
  text-decoration: none;
}

h2 a:hover {
  color: red;
  text-decoration: none;
}
