body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
h1 {
  font-weight: 800;
}

h2 {
  font-weight: 400;
}

/* .link {
  color: white;
  background-color: black;
} */

.project {
    text-align: left;
}

/* TEMP STYLING, FIX LATER */
img {
    max-width: 15%;
    height: auto;
}