body {
  font-family: "Open Sans", sans-serif;
  /* text-align: center; */
  /* color: #1d1f20 */
}

/* .projectPage , .resume{
  background-color: #ededed;
} */

#logo_home {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  display: block;
  max-width: 5%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 400;
}

.tagline {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#projectDescriptions {
  text-align: left;
  padding-top: calc(var(--bs-gutter-x) / 2);
  padding-bottom: calc(var(--bs-gutter-x) / 2);
}

/* TEMP STYLING, FIX LATER */
img {
  max-width: 100%;
  height: auto;
  padding-top: calc(var(--bs-gutter-x) / 2);
  padding-bottom: calc(var(--bs-gutter-x) / 2);
}

#d20Search,
#secretSpy,
#se181Bank, 
#CSVapp,
#studentPortfolio {
  margin-top: 20px;
  /* -webkit-box-shadow: 9px 6px 0px 5px #ee4f49; 
  box-shadow: 9px 6px 0px 5px #ee4f49; */
  background-color: #ededed;
}

p.name {
  font-size: 2rem;
}

p {
  margin-bottom: 0;
}

.bottom {
  padding-bottom: 20px;
}

.navbar {
  background-color: #1d1f20;
}

.navbar a {
  color: #ffffff;
}
.navbar a:hover {
  color: #ee4f49;
}

.projName:link {
  color: #1d1f20;
  text-decoration: none;
}

.projName:visited {
  color: #1d1f20;
  text-decoration: none;
}

.projName:hover {
  color: #ee4f49;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

.sub-li {
  margin-left: 5%;
}

.resume {
  text-align: left;
}

.resume-top-info {
  text-transform: uppercase;
  font-weight: 300;
}

.resume-subhead {
  text-transform: uppercase;
  font-weight: 600;
}

.resume-info-section {
  margin-left: 3%;
}

.resume-top {
  padding-top: 5%;
  padding-bottom: 2%;
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
  color: #ee4f49;
  padding-top: 3%;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}

.bi {
  padding-right: 1rem;
}