@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Jost';
}

html{
  background-color: #110f0d;
  color: #fff3d6;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  font-size: calc(100px);
}

.App-header {
  background-color: #363636;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.work, .project, .sectionHeader {
  padding-bottom: 1%;
}

.skillSection {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 2em;;
}

.skill {
  display: inline;
  background-color: #f3be4c;
  margin-left: 0;
  margin-right: .6%;
  padding: 10px;
  border-radius: 15px;
  color: #110f0d;
  font-weight: bold;
}

#intro {
  color: #f3be4c;
  font-size:xx-large;
}

.sectionHeader {
  color: #f3be4c;
}

p, li {
  font-weight: 600;
}